<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonjour, une erreur la.</title>
</head>
<body>
    <img src="https://media.tenor.com/Qdn3PREnzTwAAAAC/the-office-micheal-scott.gif" alt="gif" />
    <p>
        <%= err %>
    </p>
</body>
</html>